{% extends "layout.html" %}

{% block pageTitle %}
  EPAO record a grade
{% endblock %}

{% block main %}

{% include "includes/logged-in-blueheader.html" %} 

{% block content %}



<div class="govuk-width-container">
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <form action="apprentice-confirm" method="post">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Search for the address that you'd like us to send the certificate to</h1>

        <p class="govuk-body">
         Start typing the address or postcode 
        <p>

        <div class="govuk-!-margin-bottom-6">
          <label class="govuk-label" for="provider-name">
            <span class="govuk-visually-hidden">Provider name</span>
          </label>
          <div class="body-text">
            {# <input class="govuk-input" id="autocomplete-default" name="provider-name" type="text"> #}
            <div id="tt-default" class="autocomplete-wrapper"></div>
          </div>
        </div> 

            
    </div>
  </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

<!-- EDIT LINK -->
<p class="govuk-body"><a href="apprentice-add-address" class="govuk-link govuk-!-margin-bottom-6">Enter address manually</a></p>
<!-- END EDIT LINK -->


<!-- CTA -->
{{ govukButton({
  text: "Continue"
}) }}
<!-- END CTA -->

      </div>
    </div>
</form>

  </main>
</div>

<!-- AUTOCOMPLETE SCRIPT DATA -->

<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>

<script type="text/javascript">
  var providers = [
    "13 Thorne House, Townsend Avenue, Coventry, CV1 1AB",
    "14 Thorne House, Townsend Avenue, Coventry, CV1 1AB",
    "15 Thorne House, Townsend Avenue, Coventry, CV1 1AB",
    "16 Thorne House, Townsend Avenue, Coventry, CV1 1AB",
    "17 Thorne House, Townsend Avenue, Coventry, CV1 1AB",
  ]
</script>

<script type="text/javascript">
  var element = document.querySelector('#tt-default')
  var id = 'autocomplete-default'
  accessibleAutocomplete({
    element: element,
    id: id,
    source: providers,
    name: "addressdata"
  })
</script>

{% endblock %}
{% endblock %}