{% extends "layout.html" %}

{% block pageTitle %}
  EPAO record a grade
{% endblock %}

{% block main %}

{% include "includes/logged-in-blueheader.html" %} 

{% block content %}



<div class="govuk-width-container">
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <form method="post" action="employer-confirm">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Is this the correct employer to send the certificate to?</h1>

        <div class="govuk-form-group">
          <label class="govuk-label" for="full">
            Employer's name
          </label>
          <input class="govuk-input govuk-!-width-full" id="employer-name" name="employer-name" type="text" value="ONA Consulting Limited"></div>


    

<!-- CTA -->
{{ govukButton({
  text: "Continue"
}) }}
<!-- END CTA -->

</form>

  </main>
</div>


{% endblock %}
{% endblock %}