<div class="das-user-panel">
    <div class="govuk-width-container">
        <div class="das-user-panel__content">
            <span class="govuk-body-s das-user-panel__item das-user-panel__item--grow">
                <p class="govuk-!-margin-top-0 das-!-margin-bottom-xs das-no-wrap">
                    <span class="govuk-visually-hidden">Signed in as </span>
                    Gary Carr
                </p>
                    <p class="govuk-!-margin-top-0 govuk-!-margin-bottom-0">
                        <span class="govuk-!-font-weight-bold">G CARRIER LTD</span>
                    </p>
            </span>
            <span class="govuk-body-s das-user-panel__item">
                <a class="govuk-link govuk-link--white" href="/Home/ContactUs">Contact</a>
            </span>
            <span class="govuk-body-s das-user-panel__item">
                <a class="govuk-link govuk-link--white" href="/Account/SignOut">Sign out</a>
            </span>
        </div>
    </div>
</div>