{% extends "layout.html" %}

{% block pageTitle %}
  EPAO record a grade
{% endblock %}

{% block main %}

{% include "includes/logged-in-blueheader.html" %} 

{% block content %}



<div class="govuk-width-container">
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <form action="employer-select-address" method="post">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Search for the address that you'd like us to send the certificate to</h1>

        {{ govukInput({
          label: {
            text: "Postcode",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-10",
          id: "employer-address-line-post-code",
          name: "employer-address-line-post-code",
          value: data["employer-address-line-post-code"]
        }) }}


          {{ govukInput({
              label: {
                text: "Company or building number or name (optional)",
                classes: "govuk-label--m",
                isPageHeading: false
              },
              classes: "govuk-input--width-20",
              id: "company-building-name",
              name: "company-building-name",
              value: data["company-building-name"]
            }) }}
            
    </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

<!-- EDIT LINK -->
<p class="govuk-body"><a href="employer-add-address" class="govuk-link govuk-!-margin-bottom-6">Enter address manually</a></p>
<!-- END EDIT LINK -->


<!-- CTA -->
{{ govukButton({
  text: "Search"
}) }}
<!-- END CTA -->

      </div>
    </div>
</form>

  </main>
</div>


{% endblock %}
{% endblock %}