{% extends "layout.html" %}

{% block pageTitle %}
  EPAO record a grade
{% endblock %}

{% block main %}

{% include "includes/logged-in-blueheader.html" %} 

{% block content %}



<div class="govuk-width-container">
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <form method="post" action="apprentice-confirm">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Select address</h1>

        <div class="govuk-form-group">

          <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-top-3 govuk-!-margin-bottom-3">
            Postcode
          </p>
          <p class="govuk-body-m govuk-!-font-weight-bold">
            <span style="text-transform:uppercase">{{ data['address-postcode'] }}</span>
            <a class="govuk-body govuk-!-margin-left-3" href="apprentice-search-address">
              Change
            </a>
          </p>
      
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <div class="govuk-radios  govuk-!-margin-top-4">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="which-address" name="which-address" type="radio" value="1">
                  <label class="govuk-label govuk-radios__label" for="which-address">
                    1 High Street, Townsville, Countryshire, <span style="text-transform:uppercase">{{ data['address-postcode'] }}</span>
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="which-address-2" name="which-address" type="radio" value="2">
                  <label class="govuk-label govuk-radios__label" for="which-address-2">
                    2 High Street, Townsville, Countryshire, <span style="text-transform:uppercase">{{ data['address-postcode'] }}</span>
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="which-address-3" name="which-address" type="radio" value="3">
                  <label class="govuk-label govuk-radios__label" for="which-address-3">
                    3 High Street, Townsville, Countryshire, <span style="text-transform:uppercase">{{ data['address-postcode'] }}</span>
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="which-address-4" name="which-address" type="radio" value="4">
                  <label class="govuk-label govuk-radios__label" for="which-address-4">
                    4 High Street, Townsville, Countryshire, <span style="text-transform:uppercase">{{ data['address-postcode'] }}</span>
                  </label>
                </div>
              </div>
          
            </fieldset>
          </div>
      </div>
    </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

<!-- EDIT LINK -->
<p class="govuk-body"><a href="apprentice-add-address" class="govuk-link govuk-!-margin-bottom-6">Enter address manually</a></p>
<!-- END EDIT LINK -->


<!-- CTA -->
{{ govukButton({
  text: "Continue"
}) }}
<!-- END CTA -->

      </div>
    </div>
</form>

  </main>
</div>


{% endblock %}
{% endblock %}