{% extends "layout.html" %}

{% block pageTitle %}
  EPAO record a grade
{% endblock %}

{% block main %}

{% include "includes/logged-in-blueheader.html" %} 

{% block content %}



<div class="govuk-width-container">
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <form method="post" action="apprentice-search-address" novalidate data-validate='error-state-validation'>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Confirm this is the correct apprentice</h1>
        



        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Name</th>
              <td class="govuk-table__cell">Joanne Smith</td>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">ULN</th>
              <td class="govuk-table__cell">1000115352</td>
            </tr>
          </tbody>
        </table>



        </h2>
        <div class="govuk-inset-text">
          <p class="govuk-body">
            If the name is incorrect, you need to agree the correct details with the training provider and employer. Once the training provider updates the individualised Learner Record (ILR), return here and continue.
          </p>

        </div>
      





          

<!-- CTA -->
{{ govukButton({
  text: "Confirm and continue"
}) }}
<!-- END CTA -->

</form>

  </main>
</div>


{% endblock %}
{% endblock %}