{% extends "layout.html" %}

{% block pageTitle %}
  EPAO record a grade
{% endblock %}

{% block main %}

{% include "includes/logged-in-blueheader.html" %} 

{% block content %}



<div class="govuk-width-container">
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <form method="post">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Which address for ONA Consulting Limited do you want to send the certificate to?</h1>

        <!-- <h2 class="govuk-heading-l">ONA Consulting Limited</h2> -->

{{ govukRadios({
  idPrefix: "sign-in",
  name: "choose-employer-address",
  fieldset: {
    legend: {
      isPageHeading: false,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "address-system",
      text: "Latest address used for this employer",
      hint: {
        html: "<div class='govuk-inset-text'>
          25 Townsville House<br> 
          Townsend Avenue<br>
          Coventry<br>
          CV1 1AB
        </div>"
      }
    },
    {
      value: "address-last-used",
      text: "Previous address used for this employer",
      hint: {
        html: "<div class='govuk-inset-text'>
          14 Thorne House<br> 
          Townsend Avenue<br>
          Coventry<br>
            CV1 1AB
        </div>"      }
    },
    {
      divider: "or"
    },
    {
      value: "search-address",
      text: "Use a different address"
      }
  ]
}) }}

<!-- CTA -->
{{ govukButton({
  text: "Continue"
}) }}
<!-- END CTA -->

</form>

  </main>
</div>


<script type="application/json" id="error-state-validation">
  { 		  	
    "use-this-employer-address": {
      "presence": {
        "message": "^You must confirm or edit the employer's name"
      }
    }
  }
  </script>

{% endblock %}
{% endblock %}