{% extends "layout.html" %}

{% block pageTitle %}
  EPAO Withdrawal
{% endblock %}


{% block main %}

{% include "includes/logged-in-blueheader.html" %} 

{% block content %}

<div class="govuk-width-container">
        
<a class="govuk-back-link" href="applications-tabs.html">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">Complete review</h1>
                
                <p class="govuk-body">You're about to ask for more information on this withdrawal notification. This means [organisation name] will have to clarify and resubmit their withdrawal.</p>

				<p class="govuk-body">Only ask for more information if you're happy with your comments.</p>
	
				<h2 class="govuk-heading-m">Withdrawal notification questions</h2>
				
				<table class="govuk-table">
				  <tbody class="govuk-table__body">
				    <tr class="govuk-table__row">
				      <th scope="row" class="govuk-table__header">Reason for withdrawing</th>
				      <td class="govuk-table__cell">Lorem ipsum dollar sit amet</td>
				    </tr>
				  </tbody>
				</table>
				
				<br>
				
				<a class="govuk-button" href="feedback-confirmation.html" >Ask for more information</a>
				         
                <p class="govuk-body"><a class="govuk-link" href="application-overview.html">Return to application overview</a></p>
        </div>`
    </div>
</main>
    </div>


{% endblock %}
{% endblock %}