{% extends "layouts/prototype-home.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

     {% include "govuk-prototype-kit/includes/homepage-top.njk" %}



    <h1 class="govuk-heading-xl">
      {{ serviceName }} prototype
    </h1>
               {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
                         {{ govukWarningText({
               text: "Be careful when updating the GOV.UK Prototype Kit and GOV Frontend plugins. Their newer versions remove styling for heading content areas that we use for the menus of this prototype. If you want to go ahead with those updates, be prepared to replicate that CSS manually.",
               iconFallbackText: "Warning"
               }) }}
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

          <h2 class="govuk-heading-l">'Record a grade' prototype</h2>

          <section id="version1">
          <span class="govuk-caption-m">February 2025</span>
          <h3 class="govuk-heading-m">Version 1</h3>
          <ul class="govuk-list">

               <li><a href="/v1/assessment-service-start"
                         class="govuk-link govuk-link--no-visited-state">Record a grade, Start page</a>
               </li>
               <br>

          <details class="govuk-details">
               <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                         Changelog
                    </span>
               </summary>
               <div class="govuk-details__text">
                    <h4>This version includes:</h4>
                    <ul class="govuk-list govuk-list--bullet">
                         <li>Creation of the initial prototype.</li>
                         <li>The framework to run both the GOV.UK Frontend and DfE Frontend in one prototype</li>
                         <li>The start page</li>
                         <li>The dashboard</li>
                         <li>All the questions pages</li>
                         <li>The 'Check your answers' page</li>
                         <ul><li>This includes the 'shortcutting' functionality to skip questions if they've already been answered once</li></ul>
                         <li>The success page</li>
                    </ul>
                    <h4>What isn't included (yet):</h4>
                    <ul class="govuk-list govuk-list--bullet">
                         <li>Anything that would be outside of the 'Record a grade' journey</li>
                         <li>That includes the 'Change' links for 'Given name' and 'Family name' on the 'Check your answers' page</li>
                         <li>The service navigation doesn’t change the ‘active’ state based on which section the user is in. Currently it’s hardcoded to always highlight ‘Record a grade’, even from the dashboard. The ideal solution to this is probably a combination of layout and include files. I’ve left this out for now due to time constraints.</li>
                         <li>There are links throughout the prototype that have ‘v1’ in their hrefs that ideally would be powered by a sitewide variable instead. It’s something I’ve not implemented personally before, but I know it works. I’ve left it out for now due to time constraints.</li>
                    </ul>
               </div>
          </details>
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
          </section>

          <section id="version2">
          <span class="govuk-caption-m">March 2026</span>
          <h3 class="govuk-heading-m">Version 2</h3>
          <ul class="govuk-list">

               <li><a href="/v2/assessment-service-start"
                         class="govuk-link govuk-link--no-visited-state">Record a grade, Start page</a>
               </li>
               <br>
          <details class="govuk-details">
               <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                         Changelog
                    </span>
               </summary>
               <div class="govuk-details__text">
                    <h4>This version includes:</h4>
                    <ul class="govuk-list govuk-list--bullet">
                         <li>Copy tweaks to the dashboard screen changing the values for Standards, Pipeline and Completed assessments</li>
                         <li>Updated the copy on the Versions page replacing 'Version 1.3' with 'Version 2.0'</li>
                         <li>Added a new page for when 'We cannot find the apprentice details'</li>
                    </ul>
               </div>
          </details>
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
          </section>
          
          <!-- Example of how to add a new section for a different version of the prototype. You can copy and paste this whole section and update the content as needed. Remember to update the section ID, version number, date, links, and changelog details. 

          <section id="versionXYZ">
          <span class="govuk-caption-m">1 Month Year</span>
          <h3 class="govuk-heading-m">Version XYZ</h3>
          <ul class="govuk-list">

               <li><a href="/digital-certificates/v1"
                         class="govuk-link govuk-link--no-visited-state">Link name goes here</a>
               </li>
               <br>

          <details class="govuk-details">
               <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                         Changelog
                    </span>
               </summary>
               <div class="govuk-details__text">
                    <ul class="govuk-list govuk-list--bullet">
                         <li>Some words here describing the changes in this version</li>
                         <ul class="govuk-list govuk-list--bullet">
                              <li>???</li>
                              <li>???</li>
                              <li>???</li>
                         </ul>
                         <li>???</li>
                         <ul class="govuk-list govuk-list--bullet">
                              <li>???</li>
                              <li>???</li>
                              <li>???</li>
                         </ul>
               </div>
          </details>
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
          </section>
          -->


    <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->
  </div>

  
</div>

{% endblock %}