{% extends "layout.html" %}

{% block pageTitle %}
  EPAO record a grade
{% endblock %}

{% block main %}

{% include "includes/logged-in-blueheader.html" %} 

{% block content %}



<div class="govuk-width-container">
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">This is the address used for your last certificate request for this employer </h1>

        <div class="govuk-inset-text">
          <p class="govuk-body">
            <b>TESCO Limited</b><br>
            14 Thorne House<br>
            Townsend Avenue<br>
            Coventry<br>
            CV1 1AB
          </p>

        </div>
      

<!-- CHECKBOX -->




    <!-- <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Do you want to use these employer details?
          </h2>
        </legend>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="employer-address" name="employer-address" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
              Yes, use these employer details
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="employer-address" name="employer-address" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
              No, use different employer details
            </label>
          </div>
        </div>
    
      </fieldset>
    </div>
 -->
    <!-- RADIO BUTTONS -->
{{ govukRadios({
  idPrefix: "employer-address-details",
  name: "employer-address-details",
  fieldset: {
    legend: {
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes, use these employer details"
    },
    {
      value: "no",
      text: " No, use different employer details"
    }
  ]
}) }}
<!-- END RADIO BUTTONS -->



<!-- CTA -->
{{ govukButton({
  text: "Continue"
}) }}
<!-- END CTA -->


  </main>
</div>


{% endblock %}
{% endblock %}